<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=107.180.93.45;initial catalog=orchestration;user id='sa';password=@Ddi0X#28052021" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WatchPath1" value="C:\\" />
  </appSettings>
</configuration>